$primary100: #748efc80;
$primary200: #748efc;
$primary300: #3b4d9a;
$light100: #f9f9fb;
$light200: #d6dce3;
$light300: #8a8b8d;
$light400: #8599a8;
$dark100: #040404;
$dark200: #191b2c;
$border: #43ab5880;
$white: #ffffff;
$black: #000000;
