.text-md {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.text-lg {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

.text-xl {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
}

.text-2xl {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px;
}
